librosa==0.11.0
pytorch-lightning==2.6.1
lightning==2.6.1
transformers==5.8.1
moviepy==2.2.1
numpy==2.4.5
openai==2.37.0
opencv-python==4.13.0.92
openpyxl==3.1.5
pandas==3.0.3
pydub==0.25.1
PyYAML==6.0.3
replicate==1.0.7
requests==2.34.2
resampy==0.4.3
spacy==3.8.14
streamlit==1.57.0
yt-dlp
json-repair
ruamel.yaml
InquirerPy
autocorrect-py
ctranslate2==4.7.1
edge-tts

demucs[dev] @ git+https://github.com/adefossez/demucs
whisperx @ git+https://github.com/m-bain/whisperx.git@7307306a9d8dd0d261e588cc933322454f853853

syllables
pypinyin
g2p-en
xmltodict

